{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Input</th>
                <th>VAT Rate (%)</th>
                <th>VAT Included</th>
                <th>Net Amount</th>    
                <th>VAT Excluded</th>
                <th>Gross Amount</th>                             
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>


                <td>{{ transaction.amount  | number_format(2)}}</td>

                <td>{{ transaction.vatRate.rate * 100 | number_format(2) }}</td>


                <td>{{ transaction.amountIncVat | number_format(2) }}</td>
                <td>{{ transaction.vatAmountIncVat | number_format(2) }}</td>

                <td>{{ transaction.vatAmountExVat | number_format(2) }}</td>
                <td>{{ transaction.amountExVat | number_format(2)}}</td>

                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_transaction_new') }}">Create new</a>
    <a class="btn btn-primary" href="{{ path('app_transaction_export') }}" >Export</a>    
    <a class="btn btn-primary" href="{{ path('app_transaction_new') }}">Clear</a>    

{% endblock %}
